<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
  </configSections>
  <!-- Log4net Logging Setup -->
  <log4net>
    <root>
      <level value="All" />
      <appender-ref ref="Logfile" />
      <appender-ref ref="SmtpAppender" />
      <appender-ref ref="ADONetAppender" />
    </root>
    <appender name="Logfile" type="log4net.Appender.RollingFileAppender">
      <threshold value="INFO" />
      <file value="LogBackUp\" />
      <staticLogFileName value="false" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd.'txt'" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n%d{DATE} [%t] %-5p %n%m%n" />
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender,log4net">
      <threshold value="ERROR" />
      <to value="anawaz@avanceon.ae,ymiraj@avanceon.ae,aali@avanceon.ae" />
      <from value="dnmc.alert@ashghal.gov.qa" />
      <subject value="PROD - QMD.LastObservation Web Service Error (10.154.30.30)" />
      <smtpHost value="10.250.50.203" />
      <port value="25"/>
      <authentication value="Basic" />
      <username value="dnmc.alert@ashghal.gov.qa"/>
      <password value="Pwa@#2022"/>
      <EnableSsl value="false" />
      <bufferSize value="1" />
      <lossy value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%n%d{DATE} [%t] %-5p %n%m%n" />
      </layout>
    </appender>
    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
      <threshold value="ERROR" />
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionStringName value="Fuse_ConnectionString" />
      <commandText value="INSERT INTO dbo.ServiceErrorLogs ([Date],[Thread],[Level],[Logger],  
    [Message],[Exception],[ServiceOperation]) VALUES (@log_date, @thread, @log_level,   
    @logger, @message, @exception,'QMD.LastObservation')" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
  </log4net>
  <connectionStrings>    
    <add name="ODW_STG_ConnectionString" connectionString="Data Source=10.154.30.22;Initial Catalog=ODW-STG;UID=IS-QMDUser;PWD=FCs$78vb4E;" providerName="System.Data.SqlClient"/>
    <add name="Fuse_ConnectionString" connectionString="Data Source=10.154.30.22;Initial Catalog=Ashghal-FUSE-DB;UID=IS-QMDUser;PWD=FCs$78vb4E;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Get_LastObservation_Url" value="https://www.qmet.com.qa/MetServices/api/QMD/DNMCGetLastObservations"/>
    <add key="log4net.Internal.Debug" value="false"/>
	<add key="ProxyHost" value="http://172.16.10.16:8080"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>